## EDA

In [1]:
import numpy as np
import pandas as pd
import matplotlib as lpt

## Penetración de internet fijo

In [10]:
df_pentri = pd.read_csv('/soyHENRY/PI03/Datasets/Internet_Penetracion.csv')

In [5]:
# Revisamos el dataset, se ve que no hay nulos.
df_pentri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           792 non-null    int64
 1   Trimestre                     792 non-null    int64
 2   Provincia                     792 non-null    object
 3   Accesos por cada 100 hogares  792 non-null    object
dtypes: int64(2), object(2)
memory usage: 24.9+ KB

In [7]:
# Visualizamos el dataframe.
df_pentri

      Año  Trimestre            Provincia Accesos por cada 100 hogares
0    2022          1         Buenos Aires                        76,08
1    2022          1      Capital Federal                        111,8
2    2022          1            Catamarca                        58,21
3    2022          1                Chaco                        44,06
4    2022          1               Chubut                        88,05
..    ...        ...                  ...                          ...
787  2014          1           Santa Cruz                        28,94
788  2014          1             Santa Fe                        47,85
789  2014          1  Santiago Del Estero                        16,31
790  2014          1     Tierra Del Fuego                        63,97
791  2014          1              Tucumán                        33,42

[792 rows x 4 columns]

In [12]:
# Se exporta a un archivo csv.
df_pentri.to_csv('/soyHENRY/PI03/pentri.csv',index=False)

## Acceso internet por tecnologia

In [4]:
AxsTec = pd.read_csv('/soyHENRY/PI03/Datasets/Internet_Accesos-por-tecnologia.csv')

In [77]:
AxsTec

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,2,Buenos Aires,350.652,2.719.613,1.399.043,126.847,71.028,4.667.183
1,2022,2,Capital Federal,145.491,1.232.226,121.506,5.757,31.791,1.536.771
2,2022,2,Catamarca,11.928,9.430,42.087,1.329,2.234,67.008
3,2022,2,Chaco,29.552,61.284,42.194,8.178,2.356,143.564
4,2022,2,Chubut,45.377,69.242,9.574,29.784,8.828,162.805
...,...,...,...,...,...,...,...,...,...
812,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
813,2014,1,Santiago Del Estero,32.567,3.598,19,915.000,34.000,37.133
814,2014,1,Tierra Del Fuego,21.618,2.837,648,1.000,2.934,28.038
815,2014,1,Tucumán,129.717,83,121,13.000,98.000,130.032
816,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Se dropea la fila 816 ya que no la necesitamos.
AxsTec.drop(816, inplace=True)

In [17]:
AxsTec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           816 non-null    object
 1   Trimestre     816 non-null    object
 2   Provincia     816 non-null    object
 3   ADSL          816 non-null    object
 4   Cablemodem    816 non-null    object
 5   Fibra óptica  816 non-null    object
 6   Wireless      816 non-null    float64
 7   Otros         816 non-null    float64
 8   Total         816 non-null    object
dtypes: float64(2), object(7)
memory usage: 57.5+ KB

In [ ]:
### Se hará una revisión mas exhaustiva de los datos.

In [24]:
AxsTec['Año'].value_counts()

2021      96
2020      96
2018      96
2017      96
2016      96
2015      96
2014      96
2019 *    72
2022      48
2019      24
Name: Año, dtype: int64

In [39]:
# Reemplazamos los valores con caracteres especiales.
AxsTec['Año'] = AxsTec['Año'].replace('2019 *','2019')
AxsTec['Año'].value_counts()

2021    96
2020    96
2019    96
2018    96
2017    96
2016    96
2015    96
2014    96
2022    48
Name: Año, dtype: int64

In [23]:
AxsTec['Trimestre'].value_counts()

2      192
1      192
4      192
3      168
3 *     24
2 *     24
1 *     24
Name: Trimestre, dtype: int64

In [40]:
# Reemplazamos los valores con caracteres especiales.
AxsTec['Trimestre'] = AxsTec['Trimestre'].replace('3 *','3')
AxsTec['Trimestre'] = AxsTec['Trimestre'].replace('2 *','2')
AxsTec['Trimestre'] = AxsTec['Trimestre'].replace('1 *','1')
AxsTec['Trimestre'].value_counts()

2    216
1    216
4    192
3    192
Name: Trimestre, dtype: int64

In [22]:
AxsTec['Provincia'].value_counts()

Buenos Aires           34
Capital Federal        34
Tierra Del Fuego       34
Santiago Del Estero    34
Santa Fe               34
Santa Cruz             34
San Luis               34
San Juan               34
Salta                  34
Río Negro              34
Neuquén                34
Misiones               34
Mendoza                34
La Rioja               34
La Pampa               34
Jujuy                  34
Formosa                34
Entre Ríos             34
Corrientes             34
Córdoba                34
Chubut                 34
Chaco                  34
Catamarca              34
Tucumán                34
Name: Provincia, dtype: int64

In [43]:
AxsTec['ADSL'].value_counts()

48.670     9
22.636     9
11.432     9
12.754     6
12.853     4
          ..
24.349     1
50.416     1
37.298     1
307.780    1
129.717    1
Name: ADSL, Length: 730, dtype: int64

In [29]:
AxsTec['Cablemodem'].value_counts()

34.984       15
451          14
0            14
13.030       13
3.900         7
             ..
70.424        1
25.632        1
10.494        1
2.191.672     1
83            1
Name: Cablemodem, Length: 705, dtype: int64

In [31]:
AxsTec['Fibra óptica'].value_counts()

19        17
116       13
16        13
15        12
22        12
          ..
24.289     1
10.382     1
11.037     1
29.613     1
3.059      1
Name: Fibra óptica, Length: 573, dtype: int64

In [32]:
AxsTec['Wireless'].value_counts()

0.000      38
1.000      36
5.000      13
2.000      11
52.000      8
           ..
6.239       1
3.911       1
85.443      1
1.357       1
915.000     1
Name: Wireless, Length: 581, dtype: int64

In [33]:
AxsTec['Otros'].value_counts()

34.000     15
35.000     14
41.000     11
30.000     11
2.350       8
           ..
15.432      1
4.839       1
8.701       1
7.551       1
644.000     1
Name: Otros, Length: 546, dtype: int64

In [27]:
AxsTec['Total'].value_counts()

32.557     3
13.307     3
34.405     2
170.823    2
13.232     2
          ..
86.576     1
90.828     1
49.677     1
224.337    1
130.032    1
Name: Total, Length: 807, dtype: int64

In [73]:
AxsTec.to_csv('/soyHENRY/PI03/AxsTec.csv',index=False)

## Acceso a internet por velocidad y provincia

In [81]:
AxsVel = pd.read_csv('/soyHENRY/PI03/Datasets/Internet_Accesos-por-velocidad.csv')

In [82]:
AxsVel

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,2,Buenos Aires,30.639,28.323,295.238,307.554,273.954,129.869,3.535.757,65.849,4.667.183
1,2022,2,Capital Federal,517.000,5.980,36.036,72.434,55.372,31.571,1.229.254,105.607,1.536.771
2,2022,2,Catamarca,71.000,413.000,3.678,6.155,7.165,3.393,43.926,2.207,67.008
3,2022,2,Chaco,461.000,1.047,17.603,20.109,8.391,15.974,76.271,3.708,143.564
4,2022,2,Chubut,109.000,1.444,45.804,31.217,34.290,14.526,15.394,20.021,162.805
...,...,...,...,...,...,...,...,...,...,...,...,...
811,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
812,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
813,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
814,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
815,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [83]:
AxsVel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  816 non-null    int64
 1   Trimestre            816 non-null    int64
 2   Provincia            816 non-null    object
 3   HASTA 512 kbps       816 non-null    float64
 4   + 512 Kbps - 1 Mbps  816 non-null    float64
 5   + 1 Mbps - 6 Mbps    816 non-null    object
 6   + 6 Mbps - 10 Mbps   816 non-null    float64
 7   + 10 Mbps - 20 Mbps  816 non-null    float64
 8   + 20 Mbps - 30 Mbps  816 non-null    float64
 9   + 30 Mbps            816 non-null    object
 10  OTROS                810 non-null    float64
 11  Total                816 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 76.6+ KB

In [89]:
AxsVel['OTROS'].value_counts()

0.000      453
2.151        6
6.105        5
1.035        5
698.000      3
          ...
44.000       1
8.256        1
5.758        1
20.103       1
14.119       1
Name: OTROS, Length: 300, dtype: int64

In [87]:
# Rellenamos los NaN de la columna 'OTROS' con '0' (que es la mayoría de datos) para poder hacer uso de esas casillas.
AxsVel['OTROS'] =  AxsVel['OTROS'].fillna(0)

In [88]:
AxsVel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  816 non-null    int64
 1   Trimestre            816 non-null    int64
 2   Provincia            816 non-null    object
 3   HASTA 512 kbps       816 non-null    float64
 4   + 512 Kbps - 1 Mbps  816 non-null    float64
 5   + 1 Mbps - 6 Mbps    816 non-null    object
 6   + 6 Mbps - 10 Mbps   816 non-null    float64
 7   + 10 Mbps - 20 Mbps  816 non-null    float64
 8   + 20 Mbps - 30 Mbps  816 non-null    float64
 9   + 30 Mbps            816 non-null    object
 10  OTROS                816 non-null    float64
 11  Total                816 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 76.6+ KB

In [90]:
#Se renombran las columnas ya que es un nombre muy largo y confuso (contiene caracteres especiales también).
AxsVel.rename(columns = {'HASTA 512 kbps':'AR1', '+ 512 Kbps - 1 Mbps':'AR2', '+ 1 Mbps - 6 Mbps':'AR3', '+ 6 Mbps - 10 Mbps':'AR4',
                         '+ 10 Mbps - 20 Mbps':'AR5', '+ 20 Mbps - 30 Mbps':'AR6', '+ 30 Mbps':'AR7'}, inplace = True)

In [91]:
AxsVel

,Año,Trimestre,Provincia,AR1,AR2,AR3,AR4,AR5,AR6,AR7,OTROS,Total
0,2022,2,Buenos Aires,30.639,28.323,295.238,307.554,273.954,129.869,3.535.757,65.849,4.667.183
1,2022,2,Capital Federal,517.000,5.980,36.036,72.434,55.372,31.571,1.229.254,105.607,1.536.771
2,2022,2,Catamarca,71.000,413.000,3.678,6.155,7.165,3.393,43.926,2.207,67.008
3,2022,2,Chaco,461.000,1.047,17.603,20.109,8.391,15.974,76.271,3.708,143.564
4,2022,2,Chubut,109.000,1.444,45.804,31.217,34.290,14.526,15.394,20.021,162.805
...,...,...,...,...,...,...,...,...,...,...,...,...
811,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
812,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
813,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
814,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
815,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [ ]:
AxsVel.to_csv('/soyHENRY/PI03/AxsVel.csv',index=False)

## Ingresos por internet

In [3]:
Intin = pd.read_csv('/soyHENRY/PI03/Datasets/Internet_Ingresos.csv')

In [5]:
Intin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        34 non-null     int64
 1   Trimestre                  34 non-null     int64
 2   Ingresos (miles de pesos)  34 non-null     object
 3   Periodo                    34 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [6]:
Intin

     Año  Trimestre Ingresos (miles de pesos)        Periodo
0   2022          2                60.942.843   Abr-Jun 2022
1   2022          1                56.195.811   Ene-Mar 2022
2   2021          4                45.467.887   Oct-Dic 2021
3   2021          3                42.999.944  Jul-Sept 2021
4   2021          2                38.239.667   Abr-Jun 2021
5   2021          1                36.676.371   Ene-Mar 2021
6   2020          4                33.539.703   Oct-Dic 2020
7   2020          3                31.997.445  Jul-Sept 2020
8   2020          2                32.102.476   Abr-Jun 2020
9   2020          1                29.946.216   Ene-Mar 2020
10  2019          4                24.169.251   Oct-Dic 2019
11  2019          3                21.652.748  Jul-Sept 2019
12  2019          2                20.743.118   Abr-Jun 2019
13  2019          1                20.207.414   Ene-Mar 2019
14  2018          4                16.637.687   Oct-Dic 2018
15  2018          3                15.410.981  Jul-Sept 2018
16  2018          2                14.319.467   Abr-Jun 2018
17  2018          1                13.171.459   Ene-Mar 2018
18  2017          4                11.226.127   Oct-Dic 2017
19  2017          3                10.065.998  Jul-Sept 2017
20  2017          2                 9.678.647   Abr-Jun 2017
21  2017          1                 8.701.201   Ene-Mar 2017
22  2016          4                 7.483.980   Oct-Dic 2016
23  2016          3                 6.912.442  Jul-Sept 2016
24  2016          2                 6.534.241   Abr-Jun 2016
25  2016          1                 5.936.845   Ene-Mar 2016
26  2015          4                 5.376.899   Oct-Dic 2015
27  2015          3                 5.153.739  Jul-Sept 2015
28  2015          2                 4.701.791   Abr-Jun 2015
29  2015          1                 4.876.385   Ene-Mar 2015
30  2014          4                 3.950.441   Oct-Dic 2014
31  2014          3                 3.478.638  Jul-Sept 2014
32  2014          2                 3.270.816   Abr-Jun 2014
33  2014          1                 2.984.054   Ene-Mar 2014

In [7]:
# Se borra la columna 'Periodo' ya que tenemos Año y Trimestre.
Intin.drop(['Periodo'], axis=1)

     Año  Trimestre Ingresos (miles de pesos)
0   2022          2                60.942.843
1   2022          1                56.195.811
2   2021          4                45.467.887
3   2021          3                42.999.944
4   2021          2                38.239.667
5   2021          1                36.676.371
6   2020          4                33.539.703
7   2020          3                31.997.445
8   2020          2                32.102.476
9   2020          1                29.946.216
10  2019          4                24.169.251
11  2019          3                21.652.748
12  2019          2                20.743.118
13  2019          1                20.207.414
14  2018          4                16.637.687
15  2018          3                15.410.981
16  2018          2                14.319.467
17  2018          1                13.171.459
18  2017          4                11.226.127
19  2017          3                10.065.998
20  2017          2                 9.678.647
21  2017          1                 8.701.201
22  2016          4                 7.483.980
23  2016          3                 6.912.442
24  2016          2                 6.534.241
25  2016          1                 5.936.845
26  2015          4                 5.376.899
27  2015          3                 5.153.739
28  2015          2                 4.701.791
29  2015          1                 4.876.385
30  2014          4                 3.950.441
31  2014          3                 3.478.638
32  2014          2                 3.270.816
33  2014          1                 2.984.054

In [ ]:
# Se exporta el dataframe
Intin

In [8]:
# Se exporta el dataframe
Intin.to_csv('/soyHENRY/PI03/Intin.csv',index=False)